.navBar1-container {
  top: 0;
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*.nav1-left {
  margin-bottom: 300px;
}*/

.nav1-logo {
  height: 400px;
  width: 400px;
}
